/* Cringe solved */
/* Mixins */
/* Functions */
/* Goofy aaaahhhhh code */
#global-search {
     z-index: 10;
     display: none;
     justify-content: center;
     box-sizing: none;
     height: -moz-fit-content;
     height: fit-content;
     position: fixed;
     inset: 0;
     margin: 0cm 0.5cm;
}
#global-search #global-search-backdrop {
     width: 100%;
     height: 100%;
     background: hsla(0deg, 0%, 0%, 0.5);
     position: fixed;
}
#global-search #global-search-main {
     z-index: 6;
     outline: 1px solid hsl(216deg, 8%, 52%);
     border-radius: 0 0 5px 5px;
     background-color: hsl(0deg, 0%, 10%);
     box-shadow: 10px 10px 25px 0px rgb(0, 0, 0) !important;
     width: 15cm;
     min-width: 8cm;
     padding: 10px;
}
#global-search #global-search-main #search-main-searchbar {
     cursor: pointer;
     display: flex;
     justify-content: center;
     border-radius: 5px;
     border: 1.5px solid hsl(216deg, 8%, 52%);
     background-color: black;
     padding: 5px 7px;
     margin-top: 0.1cm;
}
#global-search #global-search-main #search-main-searchbar i {
     font-size: 1.35em;
     transition: transform 0.1s cubic-bezier(0.5, 1, 0.89, 1);
     padding: 0;
}
#global-search #global-search-main #search-main-searchbar i#search-bar-icon-clear {
     font-size: 1.45em;
}
#global-search #global-search-main #search-main-searchbar i#search-bar-icon-clear:hover {
     color: hsl(210deg, 100%, 72%);
}
#global-search #global-search-main #search-main-searchbar i#search-bar-icon-clear:active {
     display: inline-block;
     color: hsl(42deg, 87%, 56%);
     transform: scaleX(0.9) scaleY(0.9) translateX(0.3px) translateY(0.3px);
}
#global-search #global-search-main #search-main-searchbar input[type=text] {
     cursor: pointer;
     text-align: left;
     font-size: 1em;
     border: none !important;
     outline: none !important;
     background: none;
     width: 15cm;
     margin: 0cm 5px;
}
#global-search #global-search-main #search-main-searchbar:hover {
     border: 1.5px solid hsl(210deg, 100%, 72%);
}
#global-search #global-search-main #search-main-searchbar:focus-within {
     border: 1.5px solid hsl(42deg, 87%, 56%);
}
#global-search #global-search-main #search-main-lists {
     overflow-x: hidden;
     overflow-y: auto;
     min-height: -moz-fit-content;
     min-height: fit-content;
     max-height: 12.5cm;
     margin-top: 0.4cm;
     margin-bottom: 0.3cm;
}
#global-search #global-search-main #search-main-lists h3 {
     font-size: 1.2em;
     font-weight: 550;
     padding: 0;
     margin-top: 0.3cm;
     margin-bottom: 0.3cm;
}
#global-search #global-search-main #search-main-lists ul {
     list-style-type: none;
     padding-left: 0cm;
     margin-top: 0cm;
     margin-bottom: 0.2cm;
}
#global-search #global-search-main #search-main-lists ul a {
     color: white;
     text-decoration: none;
}
#global-search #global-search-main #search-main-lists ul li {
     cursor: pointer;
     border-radius: 5px;
     height: -moz-fit-content;
     height: fit-content;
     min-width: -moz-fit-content;
     min-width: fit-content;
     padding: 7px 5px;
     margin-right: 10px;
}
#global-search #global-search-main #search-main-lists ul li i {
     font-size: 1.35em;
     padding: 0;
     margin: 0 5px 0 0;
}
#global-search #global-search-main #search-main-lists ul li:hover {
     color: hsl(210deg, 100%, 72%);
     background-color: hsl(0deg, 0%, 15%);
}
#global-search #global-search-main #search-main-lists ul li:active {
     color: hsl(42deg, 87%, 56%);
     background-color: hsl(0deg, 0%, 21%);
}
#global-search #global-search-main #search-main-lists ul #already-here {
     cursor: not-allowed;
     color: grey;
     font-weight: 550;
}
#global-search #global-search-main #search-main-lists ul #already-here:active {
     color: red;
}
#global-search #global-search-main #search-main-lists::-webkit-scrollbar {
     width: 9px;
     height: 10px;
}
#global-search #global-search-main #search-main-lists::-webkit-scrollbar-thumb {
     margin-left: 50px;
     border-radius: 5px;
     background: #6b6b6b;
}
#global-search #global-search-main #search-main-lists::-webkit-scrollbar-track {
     background: hsla(0deg, 0%, 0%, 0);
}