/* Global Variables */

$global-font-family: BlinkMacSystemFont;
$global-cringe-solver: fit-content; /* Cringe solved */
$global-border-radius: 5px;

$global-gradientRO: 90deg; // Rotation
$global-gradientDS: 0%;    // Defualt start
$global-gradientDE: 100%;  // Defualt end

/* Global Mixin's */

@mixin noSelector {
     -webkit-user-select: none;
     -moz-user-select:    none;
     user-select:         none;
}