@use '../modules/global_stuff' as glob-stuff;

/* Goofy aaaahhhhh animations */

@keyframes image-squishy {
     0%   { transform: scaleX(inherit) }
     50%  { transform: scaleX(2.3)     }
     100% { transform: scaleX(inherit) }
}

$background-rotation-degree: 360deg;
@keyframes background-rotate1 {
     from { transform: rotateZ(calc($background-rotation-degree * -2)) }
     to   { transform: rotateZ($background-rotation-degree) }
}

@keyframes background-rotate2 {
     from { transform: rotateZ($background-rotation-degree) }
     to   { transform: rotateZ(calc($background-rotation-degree * -2)) }
}

/* Goody aaaahhhhh mixin */

@mixin trypophobia-attrs($BGimage, $BGanim, $size, $BGsize: 20px 20px, $BGpos: 0px) {
     background: none;
     background-image: $BGimage;
     background-size: $BGsize;
     background-position: $BGpos;
     animation: $BGanim;
     width: $size; height: $size;
}

/* Goofy aaaahhhhh code */

* {
     padding: 0px; margin: 0px;
}

html {
     overflow-x: hidden;
     
     body {
          font-family: glob-stuff.$global-font-family;
          margin: 0;
     }
}

#home-hero {
     margin-top: 4cm;

     #home-hero-media {
          z-index: -5;
          float: right;
          position: absolute;
          right: 0;

          $trypophobia1-BGDodgerblue: radial-gradient(dodgerblue 30%, transparent 0);
          $trypophobia1-Anim-Rotate1: background-rotate1 60s linear infinite;
          $trypophobia1-Size: 5.9cm;
          #home-hero-media-trypophobia {
               @include trypophobia-attrs($trypophobia1-BGDodgerblue, $trypophobia1-Anim-Rotate1, $trypophobia1-Size);
               position: absolute;
               bottom: 3cm; right: 3.5cm;
          }

          $local-image-size: 300px;
          img {
               z-index: 5;
               overflow: hidden;
               border-radius: calc(glob-stuff.$global-border-radius + 3px);
               animation: image-squishy 3s cubic-bezier(0.65, 0, 0.35, 1) infinite;
               width: calc($local-image-size + 50px); height: $local-image-size;
               position: relative;
               top: 0.6cm; right: 5.5cm;
          }
     }

     #home-hero-about {
          z-index: 10;
          width: glob-stuff.$global-cringe-solver;
          margin: 2cm 0cm 3cm 3cm;
          
          :is(#home-hero-about-title, #home-hero-about-slogan, #home-hero-about-description) {
               text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
          }

          #home-hero-about-title {
               font-size: 3.3em;
               font-weight: 600;
               margin-bottom: 0px;

               span {
                    text-shadow: none !important;
                    background: linear-gradient(90deg, hsla(294, 75%, 64%, 1) 0%, hsla(277, 63%, 44%, 1) 100%);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
               }
          }

          #home-hero-about-slogan {
               font-size: 2em;
               font-weight: 450;
               margin-top: 0px;
          }
     
          #home-hero-about-description {
               font-size: 24px;
               line-height: 150%;
               width: 14cm;
               margin-top: 1cm;
          }

          $trypophobia2-BGRed: radial-gradient(#f8003f 30%, transparent 0);
          $trypophobia2-Anim-Rotate2: background-rotate2 120s linear infinite;
          $trypophobia2-Size: 3.4cm;
          #home-hero-media-trypophobia {
               @include trypophobia-attrs($trypophobia2-BGRed, $trypophobia2-Anim-Rotate2, $trypophobia2-Size, 18px 18px);
               z-index: -5;
               position: absolute;
               top: 9cm; left: 0.7cm;
          }

          button[type=button] {
               cursor: pointer;
               font-size: 1.2em;
               font-weight: 550;
               border: none;
               border-radius: glob-stuff.$global-border-radius;
               color: black;
               padding: 10px 17px;
               margin-top: 1.5cm;
               transition: transform 0.1s cubic-bezier(0.33, 1, 0.68, 1);

               i {
                    font-size: 1.05em;
                    margin-left: 10px;
               }

               @mixin button-attr($BGColor, $marginType, $marginValue) {
                    background: $BGColor;
                    margin-#{$marginType}: $marginValue;
               }

               &#home-hero-button-random {
                    @include button-attr(hsl(294, 75%, 64%), 'right', 15px);
               }
     
               &#home-hero-button-github {
                    @include button-attr(hsl(42, 87%, 56%), 'left', 0px);
               }

               $local-button-scale-hover: 1.05;
               $local-button-scale-active: .95;
               &:hover  { transform: scale($local-button-scale-hover, $local-button-scale-hover);   }
               &:active { transform: scale($local-button-scale-active, $local-button-scale-active); }
          }
     }

     #home-fake-search {
          #home-fake-search-dumbTitle {
               font-size: 3em;
               font-weight: 550;
               margin-bottom: 20px;
          }

          #home-fake-search-bar {
               cursor: pointer;
               border-radius: glob-stuff.$global-border-radius;
               border: 1.5px solid glob-stuff.$global-color-grey;
               background-color: black;
               width: 11.8cm;
               padding: 5px 7px;

               $local-tag-icon-size: 1.35em !global;
               i {
                    font-size: $local-tag-icon-size;
                    padding: 0;

                    &#search-bar-icon-search {
                         margin: 0 0 0 5px;
                    }
               }

               button[type=button] {
                    cursor: pointer;
                    text-align: left;
                    font-size: 1em;
                    color: grey;
                    border: none !important;
                    outline: none !important;
                    background: none;
                    width: 10cm;
                    position: relative;
                    bottom: 2px;
               }

               &:hover {
                    border: 1.5px solid hsl(210, 100%, 72%);
               }
          }
     }
}

#home-search {
     z-index: 5;
     display: none;
     justify-content: center;
     height: glob-stuff.$global-cringe-solver;
     position: fixed;
     inset: 0;

     #home-search-backdrop {
          width: 100%; height: 100%;
          background: hsla(0deg, 0%, 0%, 0.5);
          position: fixed;
     }

     #home-search-main {
          z-index: 6;
          outline: 1px solid glob-stuff.$global-color-grey;
          border-radius: 0 0 glob-stuff.$global-border-radius glob-stuff.$global-border-radius;
          background-color: hsl(0deg, 0%, 10%);
          padding: 10px;

          $local-search-main-width: 15cm !global; /* Clickbait */
          $local-search-main-width-min1: 13cm !global;
          $local-search-main-width-min2: 11cm !global;
          #home-search-main-searchbar {
               cursor: pointer;
               border-radius: glob-stuff.$global-border-radius;
               border: 1.5px solid glob-stuff.$global-color-grey;
               background-color: black;
               width: calc($local-search-main-width + 10px); height: glob-stuff.$global-cringe-solver;
               padding: 5px 7px;
               margin-top: 0.1cm;

               i {
                    font-size: $local-tag-icon-size;
                    padding: 0;
     
                    &#search-bar-icon-search {
                         margin: 0 0 0 5px;
                    }
     
                    &#search-bar-icon-clear {
                         margin: 0 0 0 3px;  
     
                         &:hover {
                              color: hsl(210, 100%, 72%);
                         }
     
                         &:active {    
                              display: inline-block;
                              color: hsl(42, 87%, 56%);
                              transition: transform 0.1s cubic-bezier(0.5, 1, 0.89, 1);
                              transform: scaleX(0.9) scaleY(0.9) translateX(0.3px) translateY(0.3px);
                         }
                    }
               }
     
               input[type=text] {
                    $local-search-main-width: calc($local-search-main-width - 1.4cm);

                    cursor: pointer;
                    text-align: left;
                    font-size: 1em;
                    border: none !important;
                    outline: none !important;
                    background: none;
                    width: $local-search-main-width;
                    position: relative;
                    bottom: 2px;
               }
     
               &:hover {
                    border: 1.5px solid glob-stuff.$global-color-lightBlue;
               }
               &:focus-within {
                    border: 1.5px solid glob-stuff.$global-color-gold;
               }
          }
     }

     #home-search-main-suggestion {
          overflow-x: hidden; overflow-y: auto;
          min-height: glob-stuff.$global-cringe-solver;
          max-height: 12.5cm; //height: 12.5cm;
          margin-top: 0.6cm;

          h3 {
               font-size: 0.9em;
               margin-bottom: 0.3cm;

               i {
                    font-size: $local-tag-icon-size;
                    position: relative;
                    top: 2px;
                    padding: 0; margin: 0; 
               }

               em {
                    font-size: 0.8em;
                    font-weight: 500;
                    color: grey !important;
                    margin-left: 10px;
               }
          }

          ul {
               list-style-type: none;
               padding-left: 0cm;
               margin-top: 0cm;

               li {
                    cursor: pointer;
                    border-radius: glob-stuff.$global-border-radius;         
                    width: $local-search-main-width; height: glob-stuff.$global-cringe-solver;
                    padding: 7px 5px;
                    
                    i {
                         font-size: $local-tag-icon-size;
                         padding: 0; margin: 0 5px 0 0;
                    }

                    span {
                         float: right; 
                         font-size: 0.8em;
                         color: grey !important;
                         position: relative;
                         top: 8px;

                         &.tag-coding-docs::before { content: 'Lua Coding Docs'; }
                         &.tag-script-api::before  { content: 'Lua Script API'; }
                    }

                    &:hover {
                         color: glob-stuff.$global-color-lightBlue;
                         background-color: hsl(0deg, 0%, glob-stuff.middle(12%, 18%));
                    }
                    &:active {
                         color: glob-stuff.$global-color-gold;
                         background-color: hsl(0deg, 0%, glob-stuff.middle(12%, 30%));
                    }
               }
          }

          &::-webkit-scrollbar {
               width: 9px; height: 10px;
          }
          &::-webkit-scrollbar-thumb {
               border-radius: glob-stuff.$global-border-radius;
               background: #6b6b6b;
          }
          &::-webkit-scrollbar-track {
               background: hidden;
          }
     }
}