/* Cringe solved */
/* Mixins */
/* Functions */
/* Goofy aaaahhhhh animations */
@keyframes image-squishy {
     0% {
          transform: scaleX(inherit);
     }
     50% {
          transform: scaleX(2.3);
     }
     100% {
          transform: scaleX(inherit);
     }
}
@keyframes background-rotate1 {
     from {
          transform: rotateZ(-720deg);
     }
     to {
          transform: rotateZ(360deg);
     }
}
@keyframes background-rotate2 {
     from {
          transform: rotateZ(360deg);
     }
     to {
          transform: rotateZ(-720deg);
     }
}
/* Goody aaaahhhhh mixin */
/* Goofy aaaahhhhh code */
* {
     padding: 0px;
     margin: 0px;
}

html {
     overflow-x: hidden;
}

body {
     font-family: BlinkMacSystemFont, "Arial", "Verdana", "Helvetica", "Times New Roman";
}

#home-hero {
     width: auto;
     margin-top: 4cm;
     margin-left: 3cm;
}
#home-hero #home-hero-about-title {
     font-size: 3.3em;
     font-weight: 600;
     margin-bottom: 0px;
}
#home-hero #home-hero-about-title span {
     text-shadow: none !important;
     background: linear-gradient(90deg, hsl(294deg, 75%, 64%) 0%, hsl(277deg, 63%, 44%) 100%);
     -webkit-background-clip: text;
             background-clip: text;
     -webkit-text-fill-color: transparent;
}
#home-hero #home-hero-about-slogan {
     font-size: 2em;
     font-weight: 450;
     margin-top: 0px;
}
#home-hero #home-hero-about-description {
     font-size: 24px;
     line-height: 150%;
     min-width: auto;
     max-width: 14cm;
     margin-top: 1cm;
}
#home-hero #home-hero-media-trypophobia {
     background: none;
     background-image: radial-gradient(#f8003f 30%, transparent 0);
     background-size: 18px 18px;
     background-position: 0px;
     animation: background-rotate2 120s linear infinite;
     width: 3.4cm;
     height: 3.4cm;
     z-index: -5;
     position: absolute;
     top: 9cm;
     left: 0.7cm;
}
#home-hero #home-hero-about-buttons {
     display: flex;
}
#home-hero #home-hero-about-buttons button[type=button] {
     cursor: pointer;
     font-size: 1.2em;
     font-weight: 550;
     border: none;
     border-radius: 5px;
     color: black;
     padding: 10px 17px;
     margin-top: 1.5cm;
     transition: transform 0.1s cubic-bezier(0.33, 1, 0.68, 1);
}
#home-hero #home-hero-about-buttons button[type=button] i {
     font-size: 1.05em;
     margin-left: 10px;
}
#home-hero #home-hero-about-buttons button[type=button]#home-hero-button-random {
     background: hsl(294deg, 75%, 64%);
     margin-right: 15px;
}
#home-hero #home-hero-about-buttons button[type=button]#home-hero-button-github {
     background: hsl(42deg, 87%, 56%);
     margin-left: 0px;
}
#home-hero #home-hero-about-buttons button[type=button]:hover {
     transform: scale(1.05, 1.05);
}
#home-hero #home-hero-about-buttons button[type=button]:active {
     transform: scale(0.95, 0.95);
}
#home-hero #home-hero-media {
     z-index: -5;
     float: right;
     position: absolute;
     bottom: 8.2cm;
     right: 0;
}
#home-hero #home-hero-media #home-hero-media-trypophobia {
     background: none;
     background-image: radial-gradient(dodgerblue 30%, transparent 0);
     background-size: 20px 20px;
     background-position: 0px;
     animation: background-rotate1 60s linear infinite;
     width: 5.9cm;
     height: 5.9cm;
     position: relative;
     bottom: 0cm;
     right: 3.5cm;
}
#home-hero #home-hero-media img {
     z-index: 5;
     overflow: hidden;
     border-radius: 8px;
     animation: image-squishy 3s cubic-bezier(0.65, 0, 0.35, 1) infinite;
     width: 350px;
     height: 300px;
     position: relative;
     top: 0.6cm;
     right: 5.5cm;
}
#home-hero #home-fake-search {
     position: relative;
     top: 3cm;
     right: 1.3cm;
}
#home-hero #home-fake-search #home-fake-search-dumbTitle {
     text-align: center;
     font-size: 3em;
     font-weight: 550;
     margin-bottom: 20px;
     position: relative;
     right: 8px;
}
#home-hero #home-fake-search #home-fake-search-bar {
     cursor: pointer;
     float: right;
     display: block;
     border-radius: 5px;
     border: 1.5px solid hsl(216deg, 8%, 52%);
     background-color: black;
     width: 12cm;
     height: -moz-fit-content;
     height: fit-content;
     position: relative;
     top: 0.45cm;
     padding: 5px 7px;
     margin-right: 15px;
}
#home-hero #home-fake-search #home-fake-search-bar i {
     font-size: 1.35em;
     padding: 0;
}
#home-hero #home-fake-search #home-fake-search-bar i#sidebar-searchIcon {
     margin: 0 0 0 5px;
}
#home-hero #home-fake-search #home-fake-search-bar button[type=button] {
     cursor: pointer;
     text-align: left;
     font-size: 1em;
     color: grey;
     border: none !important;
     outline: none !important;
     background: none;
     width: 10cm;
     position: relative;
     bottom: 2px;
}
#home-hero #home-fake-search #home-fake-search-bar kbd {
     font-size: 0.8em;
     font-family: BlinkMacSystemFont, "Arial", "Verdana", "Helvetica", "Times New Roman" !important;
     border: 1px solid hsl(0deg, 0%, 20%);
     border-radius: 3px;
     background-color: hsl(0deg, 0%, 15%);
     position: relative;
     bottom: 3px;
     padding: 1px 3px;
}
#home-hero #home-fake-search #home-fake-search-bar kbd#the-k {
     margin-left: 2px;
     padding-left: 4px;
     padding-right: 4px;
}
#home-hero #home-fake-search #home-fake-search-bar:hover {
     border: 1.5px solid hsl(210deg, 100%, 72%);
     background-color: hsl(0deg, 0%, 10%);
}
#home-hero #home-fake-search #home-fake-search-bar:active {
     border: 1.5px solid hsl(42deg, 87%, 56%);
}

/* 
cursor: pointer;
               border-radius: glob-stuff.$global-border-radius;
               border: 1.5px solid glob-stuff.$global-color-grey;
               background-color: black;
               width: 11.8cm;
               padding: 5px 7px;

               $local-tag-icon-size: 1.35em !global;
               i {
                    font-size: $local-tag-icon-size;
                    padding: 0;

                    &#search-bar-icon-search {
                         margin: 0 0 0 5px;
                    }
               }

               button[type=button] {
                    cursor: pointer;
                    text-align: left;
                    font-size: 1em;
                    color: grey;
                    border: none !important;
                    outline: none !important;
                    background: none;
                    width: 10cm;
                    position: relative;
               }

               &:hover {
                    border: 1.5px solid hsl(210, 100%, 72%);
               } */