/* Local Club :cool: */
/* Goofy aaaahhhhh code */
@font-face {
     font-family: "VCR";
     src: url(/fonts/VCR/VCR_OSD_MONO.woff) format("woff"), url(/fonts/VCR/VCR_OSD_MONO.otf) format("opentype"), url(/fonts/VCR/VCR_OSD_MONO.ttf) format("truetype");
}
#global-no-javascript {
     z-index: 20;
     display: flex;
     font-family: "VCR";
     justify-content: center;
     align-items: center;
     background: hsl(249deg, 100%, 50%);
     width: 100%;
     height: 100%;
     position: fixed;
}
#global-no-javascript #no-javascript-window {
     outline: 2px solid black;
     border: 3px solid white;
     border-style: outset;
     color: black;
     background-color: silver;
     width: 12cm;
     height: 6cm;
}
#global-no-javascript #no-javascript-window img {
     position: relative;
     bottom: 0.2cm;
}
#global-no-javascript #no-javascript-window #no-javascript-NOTE {
     position: absolute;
     transform: translateX(-2.2cm) translateY(1.45cm);
}
#global-no-javascript #no-javascript-window #no-javascript-topbar {
     color: white !important;
     background-color: hsl(249deg, 100%, 50%);
     width: 11.85cm;
     height: 1cm;
}
#global-no-javascript #no-javascript-window #no-javascript-topbar ~ p {
     position: relative;
     bottom: 2.4cm;
     left: 3cm;
     margin: 0px 0px 12px 0px;
}
#global-no-javascript #no-javascript-window #no-javascript-topbar p {
     font-family: "VCR";
     font-size: 23px;
     margin: 0;
     transform: translateY(5px) translateX(8px);
}
#global-no-javascript #no-javascript-window button {
     outline: 2px solid black;
     font-family: "VCR";
     border: 2px solid white;
     border-style: outset;
     color: black;
     background-color: silver;
     position: relative;
     bottom: 1.5cm;
     left: 5.35cm;
     padding: 2px 15px;
}
#global-no-javascript #no-javascript-window button:hover {
     background-color: silver;
}
#global-no-javascript #no-javascript-window button:active {
     border: 2px solid rgb(231, 231, 231);
     border-style: outset;
     background-color: rgb(173, 173, 173);
}