/* Local Club :cool: */

$local-defualt-width-solid: 2px solid;
$local-color-noJavascript-bg: hsl(249deg, 100%, 50%);

$local-window-image-size-xButton:  60px;
$local-window-image-size-okButton: 60px;
$local-window-image-size-warning:  120px;

/* Goofy aaaahhhhh code */

@font-face {
     font-family: "Dina";
     src: url(../../fonts/Dina/dina10px.woff) format("woff"), 
          url(../../fonts/Dina/dina10px.otf)  format("opentype"), 
          url(../../fonts/Dina/dina10px.ttf)  format("truetype");
}

noscript {
     z-index: 20;
     display: flex;
     justify-content: center;
     align-items: center;
     font-family: "Dina";
     background: $local-color-noJavascript-bg;
     width: 100%; height: 100%;
     position: fixed;

     #windows-error-javascript {
          outline: $local-defualt-width-solid black;
          border: 3px solid white;
          border-style: outset;
          color: black;
          background-color: silver;
          width: 14cm; height: 6cm;

          #windows-error-javascript-topbar {
               color: white !important;
               background-color: $local-color-noJavascript-bg;
               height: 1cm;

               #windows-error-javascript-topbar-title {
                    font-size: 2em;
                    font-weight: 660;
                    position: relative;
                    top: 6px; left: 5px;
               }

               img {
                    cursor: not-allowed;
                    width: $local-window-image-size-xButton; 
                    height: $local-window-image-size-xButton;
                    position: absolute;
                    
                    /* Different Posistions cuz of a bug!!!1!  */

                    &#only-wiki {
                         transform: translateY(-11.5px) translateX(3.2cm);
                    }

                    &#only-home {
                         transform: translateY(-11.5px) translateX(3.35cm);
                    }
               }
          }

          #windows-error-icon-warning {
               width: $local-window-image-size-warning; 
               height: $local-window-image-size-warning;
               position: relative;
               bottom: 8px;
          }

          #windows-error-javascript-text {
               font-size: 1.2em;
               position: relative;
               bottom: 3cm; left: 2.8cm;
          }

          #windows-error-button-ok {
               cursor: not-allowed;
               width: calc($local-window-image-size-okButton * 2 + 20px); 
               height: $local-window-image-size-okButton;
               position: relative;
               bottom: 2.6cm; left: 5cm;
          }
     }
}