/* Global Club :cool: */
/* Cringe solved */
body {
     margin: 0;
} /* Delete this or you'll get neutered */
#global-topbar {
     z-index: 5 !important;
     background-color: hsl(216deg, 8%, 15%);
     width: 100%;
     height: 90px; /* 90px */
     overflow-x: auto;
     overflow-y: hidden;
     transform: translateY(-15px);
     /* Search Bar */
     /* List Bar */
}
#global-topbar > img {
     display: inline-block;
     position: absolute;
     top: 23px;
     left: 18px;
}
#global-topbar #logo {
     font-size: 25px;
     font-weight: 550;
     border-right: 1px solid white;
     width: -moz-fit-content;
     width: fit-content;
     position: relative;
     top: 14px;
     left: 80px;
     padding: 8px 10px 8px 0px;
     margin-top: 16.5px;
}
#global-topbar #searchBar {
     border: 1px solid hsl(216deg, 8%, 52%);
     border-radius: 5px;
     background-color: hsl(216deg, 8%, 15%);
     transition: transform 0.2s cubic-bezier(0.33, 1, 0.68, 1);
     position: relative;
     width: 6.5cm;
     height: -moz-fit-content;
     height: fit-content;
     top: -1.3cm;
     left: 29cm;
     padding: 5px 10px;
}
#global-topbar #searchBar:hover {
     transform: translateY(1px);
}
#global-topbar #searchBar button {
     font-size: 16px;
     font-weight: 200;
     border: none;
     background: none;
}
:is(#global-topbar #searchBar, button) {
     color: hsl(211deg, 37%, 88%);
}
:is(#global-topbar #searchBar, button):hover {
     background-color: black;
}
#global-topbar a {
     color: white;
     font-weight: 550;
     text-decoration: none;
}
#global-topbar a:is(#active, #global-topbar a:hover) {
     color: hsl(0deg, 0%, 70%);
}
#global-topbar ul {
     float: right;
     position: relative;
     top: -2.45cm;
     right: 10cm;
}
#global-topbar ul li {
     display: inline-block;
     font-size: 18px;
     margin-left: 20px;
}