@use '../modules/global_vars' as glob;

/* Local Club :cool: */

$local-color-topbar-bg: hsl(216deg, 8%, 15%);
$local-defualt-font-weight: 550;

$local-color-codeblock-bg:      hsl(216, 8%, 52%);
$local-color-codeblock-outline: hsl(216deg, 8%, 52%);
$local-color-codeblock-border:  hsla(214, 12%, 66%, 0.4);

/* Goofy aaaahhhhh code */

body { /* Delete this or you'll get neutered */
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

#global-topbar {
     z-index: 5;
     font-family: glob.$global-font-family;
     background: $local-color-topbar-bg;
     width: 100%; height: 100px;
     position: relative;
     bottom: 15px;

     #topbar-logo {
          display: flex;
          position: relative;
          top: 23px;
          margin-left: 5px;

          img {
               width: 70px; height: 70px;
               margin-right: 5px;
          }

          p {
               font-size: 1.5em;
               font-weight: $local-defualt-font-weight;
               position: relative;
               bottom: 5px;
          }
     }

     :is(#topbar-list-max, #topbar-list-min) {
          float: right;
          position: relative;
          bottom: 53px;
     }

     #topbar-list-max {
          display: block;

          @media only screen and (max-width: 950px) {
               display: none;
          }
          
          #topbar-list-searchBar {
               cursor: pointer;
               float: right;
               border: 1px solid hsl(216deg, 8%, 52%);
               border-radius: glob.$global-border-radius;
               box-shadow: 8px 5px 10px 1px rgba(0, 0, 0, 0.5);
               background-color: $local-color-topbar-bg;
               width: 6.5cm; height: glob.$global-cringe-solver;
               position: relative;
               top: .45cm;
               padding: 5px 10px;
               margin-right: 0.28cm;
     
               button {
                    cursor: pointer;
                    font-size: 16px;
                    font-weight: 200;
                    border: none;
                    background: none;
     
                    &::before {
                         content: "Search stuff...";
                    }
               }
          }
          
          ul {
               display: flex;
               list-style-type: none;
               font-size: 1.3em;

               li {
                    margin-right: 25px;

                    a {
                         text-decoration: none;
                         color: white;

                         i {
                              margin-right: 5px;
                         }
     
                         span {
                              font-weight: 500;
                         }

                         &:hover {
                              color: hsl(0deg, 0%, 80%);
                         }
                    }
               }
          }
     }

     #topbar-list-min {
          display: none;
          
          @media only screen and (max-width: 950px) {
               display: block;
          }

          button {
               cursor: pointer;
               font-size: 1.8em;
               border: none;
               background: none;
               position: relative;
               top: 0.45cm;
               margin-right: 0.55cm;
               transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
               
               &:active {
                    transform: scaleX(0.8) scaleY(0.8);
               }
          }

          ul {
               float: right;
               display: flexbox;
               justify-content: center;
               border: 1px solid $local-color-codeblock-outline;
               border-radius: glob.$global-border-radius;
               box-shadow: 8px 5px 10px 1px rgba(0, 0, 0, 0.5);
               transition: right 0.4s cubic-bezier(0.25, 1, 0.5, 1);
               background-color: hsl(0deg, 0%, 10%);
               position: fixed;
               right: -1.8cm; top: 2.2cm; // right: 0.28cm; top: -4.4cm; // 1.99cm => top
               padding: 0;
               
               li {
                    cursor: pointer;
                    display: block;
                    font-size: 20px;
                    padding: 15px 20px;
                    
                    span {
                         color: white;
                         text-decoration: none;

                         @media only screen and (min-width: 860px) {
                              &#last-thing {
                                   color: hsl(0deg, 0%, 30%) !important;
                              } 
                         }
                    }
                    
                    &:hover {
                         background-color: hsl(0deg, 0%, 13%);

                         span {
                              color: hsl(210, 100%, 72%);
                         }

                         $top-bottom-radius: calc(glob.$global-border-radius - .5px);
                         &:nth-child(1) {
                              border-radius: $top-bottom-radius $top-bottom-radius 0px 0px;
                         }
                         &:nth-child(5) {
                              border-radius: 0px 0px $top-bottom-radius $top-bottom-radius;
                         }
                    }

                    &:active span {
                         color: hsl(42, 87%, 56%);
                    }
               }
          }
     }
}