/* Cringe solved */
/* Local Club :cool: */
/* Goofy aaaahhhhh code */
body { /* Delete this or you'll get neutered */
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

#global-topbar {
     z-index: 5;
     font-family: BlinkMacSystemFont, "Arial", "Verdana", "Helvetica", "Times New Roman";
     background: hsl(216deg, 8%, 15%);
     width: 100%;
     height: 100px;
     position: relative;
     bottom: 15px;
}
#global-topbar #topbar-logo {
     display: flex;
     position: relative;
     top: 23px;
     margin-left: 5px;
}
#global-topbar #topbar-logo img {
     width: 70px;
     height: 70px;
     margin-right: 5px;
}
#global-topbar #topbar-logo p {
     font-size: 1.5em;
     font-weight: 550;
     position: relative;
     bottom: 5px;
}
#global-topbar :is(#topbar-list-max, #topbar-list-min) {
     float: right;
     position: relative;
     bottom: 53px;
}
#global-topbar #topbar-list-max {
     display: block;
}
@media only screen and (max-width: 950px) {
     #global-topbar #topbar-list-max {
          display: none;
     }
}
#global-topbar #topbar-list-max #topbar-list-searchBar {
     cursor: pointer;
     float: right;
     border: 1px solid hsl(216deg, 8%, 52%);
     border-radius: 5px;
     box-shadow: 8px 5px 10px 1px rgba(0, 0, 0, 0.5);
     background-color: hsl(216deg, 8%, 15%);
     width: 6.5cm;
     height: -moz-fit-content;
     height: fit-content;
     position: relative;
     top: 0.45cm;
     padding: 5px 10px;
     margin-right: 0.28cm;
}
#global-topbar #topbar-list-max #topbar-list-searchBar button {
     cursor: pointer;
     font-size: 16px;
     font-weight: 200;
     border: none;
     background: none;
}
#global-topbar #topbar-list-max #topbar-list-searchBar button::before {
     content: "Search stuff...";
}
#global-topbar #topbar-list-max ul {
     display: flex;
     list-style-type: none;
     font-size: 1.3em;
}
#global-topbar #topbar-list-max ul li {
     margin-right: 25px;
}
#global-topbar #topbar-list-max ul li a {
     text-decoration: none;
     color: white;
}
#global-topbar #topbar-list-max ul li a i {
     margin-right: 5px;
}
#global-topbar #topbar-list-max ul li a span {
     font-weight: 500;
}
#global-topbar #topbar-list-max ul li a:hover {
     color: hsl(0deg, 0%, 80%);
}
#global-topbar #topbar-list-min {
     display: none;
}
@media only screen and (max-width: 950px) {
     #global-topbar #topbar-list-min {
          display: block;
     }
}
#global-topbar #topbar-list-min button {
     cursor: pointer;
     font-size: 1.8em;
     border: none;
     background: none;
     position: relative;
     top: 0.45cm;
     margin-right: 0.55cm;
     transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);
}
#global-topbar #topbar-list-min button:active {
     transform: scaleX(0.8) scaleY(0.8);
}
#global-topbar #topbar-list-min ul {
     float: right;
     display: flexbox;
     justify-content: center;
     border: 1px solid hsl(216deg, 8%, 52%);
     border-radius: 5px;
     box-shadow: 8px 5px 10px 1px rgba(0, 0, 0, 0.5);
     transition: right 0.4s cubic-bezier(0.25, 1, 0.5, 1);
     background-color: hsl(0deg, 0%, 10%);
     position: fixed;
     right: -1.8cm;
     top: 2.2cm;
     padding: 0;
}
#global-topbar #topbar-list-min ul li {
     cursor: pointer;
     display: block;
     font-size: 20px;
     padding: 15px 20px;
}
#global-topbar #topbar-list-min ul li span {
     color: white;
     text-decoration: none;
}
@media only screen and (min-width: 860px) {
     #global-topbar #topbar-list-min ul li span#last-thing {
          color: hsl(0deg, 0%, 30%) !important;
     }
}
#global-topbar #topbar-list-min ul li:hover {
     background-color: hsl(0deg, 0%, 13%);
}
#global-topbar #topbar-list-min ul li:hover span {
     color: hsl(210deg, 100%, 72%);
}
#global-topbar #topbar-list-min ul li:hover:nth-child(1) {
     border-radius: 4.5px 4.5px 0px 0px;
}
#global-topbar #topbar-list-min ul li:hover:nth-child(5) {
     border-radius: 0px 0px 4.5px 4.5px;
}
#global-topbar #topbar-list-min ul li:active span {
     color: hsl(42deg, 87%, 56%);
}