/* Cringe solved */
/* Local Club :cool: */
/* 28.3cm */
/* Goofy aaaahhhhh code */
* {
     position: relative;
     box-sizing: border-box;
}

::-moz-selection {
     background-color: dodgerblue;
}

::selection {
     background-color: dodgerblue;
}

html {
     font-family: BlinkMacSystemFont, "Arial", "Verdana", "Helvetica", "Times New Roman";
     scroll-behavior: smooth;
     scroll-margin-top: 1.5cm;
}
html main {
     width: -moz-fit-content;
     width: fit-content;
     position: relative;
     left: 8.94cm;
}

#wiki-bg {
     outline: 1px solid hsl(216deg, 8%, 52%);
     border-radius: 5px;
     background-color: rgb(39, 43, 51);
     padding-top: 1.1cm;
     margin-bottom: 25px;
}
#wiki-bg #wiki {
     font-size: 1em;
     word-wrap: break-word;
     outline: 1px solid hsl(216deg, 8%, 52%);
     border-radius: 0px 0px 5px 5px;
     background-color: hsl(0deg, 0%, 10%);
     width: 28.3cm;
     padding: 20px 25px;
     /* Headers */
     /* BlockQuotes */
     /* Tables */
     /* Code Blocks */
     /* Code Colors */
}
#wiki-bg #wiki :is(p, a, ul, td, th, blockquote) {
     font-size: 1em;
     line-height: 1.5;
     margin-top: 0px 0px 10px 0px;
}
#wiki-bg #wiki li {
     margin-top: 5px;
     margin-bottom: 5px;
}
#wiki-bg #wiki a {
     text-decoration: none;
     color: hsl(210deg, 100%, 72%);
}
#wiki-bg #wiki a:hover {
     text-decoration: underline;
}
#wiki-bg #wiki hr {
     border: none;
     background-color: hsl(214deg, 12%, 66%);
     height: 3px;
     margin-top: 20px;
}
#wiki-bg #wiki :is(h1, h2, h3, h4) {
     scroll-margin-top: 0.3cm;
}
#wiki-bg #wiki :is(h1, h2) {
     border-bottom: 1px solid hsl(216deg, 8%, 52%);
     padding-bottom: 10px;
}
#wiki-bg #wiki h1 {
     font-size: 2em;
     font-weight: 600;
     margin: 15px 0px 25px 0px;
}
#wiki-bg #wiki h2 {
     font-size: 1.5em;
     font-weight: 580;
     margin: 15px 0px 20px 0px;
}
#wiki-bg #wiki h3 {
     font-size: 1.25em;
     font-weight: 550;
     margin: 15px 0px 15px 0px;
}
#wiki-bg #wiki h4 {
     font-size: 1em;
     font-weight: 530;
     margin: 15px 0px 10px 0px;
}
#wiki-bg #wiki blockquote {
     width: 27.665cm;
     padding: 5px 0px 5px 20px;
     margin-left: 0px;
}
#wiki-bg #wiki blockquote.warning {
     border-left: 0.15cm solid hsl(42deg, 87%, 56%) !important;
}
#wiki-bg #wiki blockquote.note {
     border-left: 0.15cm solid hsl(210deg, 100%, 72%) !important;
}
#wiki-bg #wiki blockquote.warning span {
     color: hsl(42deg, 87%, 56%) !important;
}
#wiki-bg #wiki blockquote.note span {
     color: hsl(210deg, 100%, 72%) !important;
}
#wiki-bg #wiki blockquote i {
     font-size: 1em;
     margin-right: 5px;
}
#wiki-bg #wiki table {
     display: block;
     overflow: auto;
     border-collapse: collapse;
}
#wiki-bg #wiki table td {
     border-top: 1px solid hsl(216deg, 8%, 52%);
}
#wiki-bg #wiki table thead tr {
     text-align: center;
}
#wiki-bg #wiki table :is(td, th) {
     padding: 12px 24px;
}
#wiki-bg #wiki :is(code, pre, kbd) {
     font-size: calc(1em - 3px);
     font-family: Menlo, "Lucida Console", "Monaco", "monospace";
     border-radius: 5px;
     color: white;
}
#wiki-bg #wiki code {
     background-color: hsla(214deg, 12%, 66%, 0.4);
     padding: 0.2em 0.4em;
}
#wiki-bg #wiki kbd {
     font-size: calc(1em - 5px) !important;
     border: 1px solid hsla(214deg, 12%, 66%, 0.4);
     border-bottom: 2px solid hsla(214deg, 12%, 66%, 0.4);
     background-color: hsl(0deg, 0%, 16%);
     padding: 2px 5px;
}
#wiki-bg #wiki kbd:hover {
     background-color: hsl(0deg, 0%, 12%);
}
#wiki-bg #wiki .code-border {
     outline: 1px solid hsl(216deg, 8%, 52%);
     border-radius: 5px;
     background-color: rgb(39, 43, 51);
     margin: 20px 0px;
}
#wiki-bg #wiki .code-border pre {
     -moz-tab-size: 8;
       -o-tab-size: 8;
          tab-size: 8;
     white-space: pre;
     outline: 1px solid hsl(216deg, 8%, 52%);
     overflow-x: auto;
     line-height: 20px !important;
     color: white;
     border-radius: 0px 0px 5px 5px;
     background-color: black;
     margin-top: 12px;
     padding: 16px 16px 16px 50px;
}
#wiki-bg #wiki .code-border :is(pre, pre span)::-moz-selection {
     background-color: hsl(0deg, 0%, 20%);
}
#wiki-bg #wiki .code-border :is(pre, pre span)::selection {
     background-color: hsl(0deg, 0%, 20%);
}
#wiki-bg #wiki .code-newlines {
     z-index: 5;
     font-size: 13px;
     font-family: Menlo, "Lucida Console", "Monaco", "monospace";
     text-align: center;
     line-height: 20px !important;
     position: absolute;
}
#wiki-bg #wiki .code-newlines span {
     display: block;
     color: hsl(0deg, 0%, 67%);
     position: relative !important;
     top: 0.7354166667cm;
     left: 23px;
     -webkit-user-select: none;
     -moz-user-select: none;
     user-select: none;
}
#wiki-bg #wiki .code-tagbg {
     font-family: BlinkMacSystemFont, "Arial", "Verdana", "Helvetica", "Times New Roman" !important;
     font-size: 15px;
     font-weight: 630;
     outline: 1px solid hsl(216deg, 8%, 52%);
     border-radius: 6px;
     background-color: black;
     width: -moz-fit-content;
     width: fit-content;
     margin-right: 13px;
     padding: 7px 10px;
     transform: translateX(5px) translateY(5px);
}
#wiki-bg #wiki .code-locationFile {
     color: hsl(1deg, 100%, 79%);
     font-family: Menlo, "Lucida Console", "Monaco", "monospace";
     font-size: 13px !important;
     position: relative;
     top: 13px;
     padding: 2 !important;
}
#wiki-bg #wiki pre span.code-kyw {
     color: hsl(1deg, 100%, 79%);
}
#wiki-bg #wiki pre span.code-ope {
     color: hsl(1deg, 100%, 79%);
}
#wiki-bg #wiki pre span.code-var {
     color: hsl(0deg, 0%, 100%);
}
#wiki-bg #wiki pre span.code-str {
     color: hsl(208deg, 100%, 78%);
}
#wiki-bg #wiki pre span.code-num {
     color: hsl(208deg, 100%, 78%);
}
#wiki-bg #wiki pre span.code-boo {
     color: hsl(208deg, 100%, 78%);
}
#wiki-bg #wiki pre span.code-nil {
     color: hsl(208deg, 100%, 78%);
}
#wiki-bg #wiki pre span.code-com {
     color: hsl(212deg, 13%, 77%);
     font-style: italic;
}
#wiki-bg #wiki pre span.code-esc {
     color: hsl(1deg, 100%, 79%);
}
#wiki-bg #wiki pre span.code-ptr {
     color: hsl(168deg, 55%, 54%);
}
#wiki-bg #wiki pre span.code-data {
     color: hsl(168deg, 55%, 54%);
}
#wiki-bg #wiki pre span.code-tabkey {
     color: hsl(0deg, 0%, 100%);
}
#wiki-bg #wiki pre span.code-modul {
     color: hsl(168deg, 55%, 54%);
}
#wiki-bg #wiki pre span.code-funcD {
     color: hsl(270deg, 100%, 86%);
}
#wiki-bg #wiki pre span.code-funcC {
     color: hsl(208deg, 100%, 78%);
}
#wiki-bg #wiki pre span.code-funcM {
     color: hsl(168deg, 55%, 54%);
}
#wiki-bg #wiki pre span.code-paraS {
     color: hsl(34deg, 100%, 65%);
}
#wiki-bg #wiki pre span.code-paraI {
     color: hsl(208deg, 100%, 78%);
}