@use '../modules/global_stuff' as glob-stuff;

/* Local Club :cool: */

$local-color-topbar-bg: hsl(216deg, 8%, 15%);
$local-defualt-font-weight: 550;

$local-color-codeblock-bg:      hsl(216, 8%, 52%);
$local-color-codeblock-outline: hsl(216deg, 8%, 52%);
$local-color-codeblock-border:  hsla(214, 12%, 66%, 0.4);

/* Goofy aaaahhhhh code */

body { /* Delete this or you'll get neutered */
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}

#global-topbar {
     z-index: 3;
     font-family: glob-stuff.$global-font-family;
     background-color: $local-color-topbar-bg;
     width: 100%; height: 85px;
     position: fixed;
     top: 0;

     #global-topbar-logo {
          display: flex;
          position: relative;
          top: 3px;
          margin-left: 5px;

          $image-logo-size: 70px;
          img {
               width: $image-logo-size; height: $image-logo-size;
               position: relative;
               top: 5px !important;
               margin-right: 5px;
          }
          
          p {
               font-size: 1.5em;
               font-weight: $local-defualt-font-weight;

               @media only screen and (max-width: 460px) {
                    display: none;    
               }

               span {
                    text-shadow: none !important;
                    background: linear-gradient(90deg, hsla(294, 75%, 64%, 1) 0%, hsla(277, 63%, 44%, 1) 100%);
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
               }
          }
     }

     #global-topbar-list {
          float: right;
          display: flex;
          position: relative;
          bottom: 1.8cm;

          #list-max {
               margin-right: 20px;

               @media only screen and (max-width: 1130px) {
                    display: none;
               }

               ul {
                    display: flex;
                    list-style-type: none;
                    font-size: 1.3em;

                    li {
                         border-radius: glob-stuff.$global-border-radius;
                         position: relative;
                         bottom: 5px;
                         padding: 1px 5px 3px 5px;
                         margin-right: 15px;
     
                         a {
                              font-weight: 500;
                              text-decoration: none;
                              color: white;
     
                              i {
                                   font-size: 1.2em;
                                   margin-right: 5px;
                              }
                         }

                         &:nth-last-child(1) {
                              margin-right: 0;
                         }
                         &:hover {
                              background-color: hsla(0deg, 0%, 50%, 0.3);
                         }
                    }
               }
          }

          #list-min {
               display: none;
               margin-right: 0.3cm;

               @media only screen and (max-width: 1130px) {
                    display: block;
               }

               #topbar-list-menu {
                    font-size: 1.8em;
                    font-weight: 500;
                    color: white;
                    position: relative;
                    top: 17px;
                    padding: 0.1px 3px;

                    @media only screen and (max-width: 460px) {
                         top: 19.5px;
                    }

                    &:hover {
                         border-radius: glob-stuff.$global-border-radius;
                         background-color: hsla(0deg, 0%, 50%, 0.3);
                    }
               }

               ul {
                    display: flexbox;
                    list-style-type: none;
                    justify-content: center;
                    border: 1px solid $local-color-codeblock-outline;
                    border-radius: glob-stuff.$global-border-radius;
                    box-shadow: 8px 5px 10px 1px rgba(0, 0, 0, 0.5);
                    background-color: hsl(0deg, 0%, 10%);
                    transition: right 0.3s cubic-bezier(0.33, 1, 0.68, 1);
                    position: fixed;
                    top: 2.55cm; right: -1.5cm; // 0.4cm
                    padding: 0;

                    li {
                         cursor: pointer;
                         display: block;
                         font-size: 1.5em;
                         padding: 10px 15px;

                         a {
                              color: white;
                         }

                         &:hover {
                              background-color: hsl(0deg, 0%, 13%);

                              $top-bottom-radius: calc(glob-stuff.$global-border-radius - .5px);
                              &:nth-child(1) {
                                   border-radius: $top-bottom-radius $top-bottom-radius 0px 0px;
                              }
                              &:nth-last-child(1) {
                                   border-radius: 0px 0px $top-bottom-radius $top-bottom-radius;
                              }

                              a {
                                   color: glob-stuff.$global-color-lightBlue;
                              }
                         }

                         &:active a {
                              color: glob-stuff.$global-color-gold;
                         }
                    }
               }
          }

          :is(#topbar-list-search, #topbar-list-other) {
               position: relative;
               top: 0.65cm;
          }

          #topbar-list-search {
               cursor: pointer;
               float: right;
               display: block;
               border-radius: glob-stuff.$global-border-radius;
               border: 1.5px solid glob-stuff.$global-color-grey;
               background-color: black;
               width: 8cm !important; height: glob-stuff.$global-cringe-solver;
               position: relative;
               top: 0.45cm;
               padding: 3px 7px;
               margin-right: calc(15px * 1);

               @media only screen and (max-width: 820px) {
                    display: none;
               }

               $local-tag-icon-size: 1.35em !global;
               i {
                    font-size: $local-tag-icon-size;
                    padding: 0;

                    &#sidebar-searchIcon {
                         margin: 0 0 0 5px;
                    }
               }

               button[type=button] {
                    cursor: pointer;
                    text-align: left;
                    font-size: 1em;
                    color: grey;
                    border: none !important;
                    outline: none !important;
                    background: none;
                    width: 6cm;
                    position: relative;
                    bottom: 2px;
               }

               kbd {
                    font-size: 0.8em;
                    font-family: glob-stuff.$global-font-family !important;
                    border: 1px solid hsl(0deg, 0%, 20%);
                    border-radius: calc(glob-stuff.$global-border-radius - 2px);
                    background-color: hsl(0deg, 0%, 15%);
                    position: relative;
                    bottom: 3px;
                    padding: 1px 3px;

                    &#the-k {
                         margin-left: 2px;
                         padding: { left: 4px; right: 4px; };
                    }
               }
               
               &:hover {
                    border: 1.5px solid glob-stuff.$global-color-lightBlue;
                    background-color: hsl(0deg, 0%, 10%);
               }
               &:active {
                    border: 1.5px solid glob-stuff.$global-color-gold;
               }
          }

          #topbar-list-other {
               float: right;
               display: flex;
               position: relative;
               top: 0.55cm; right: 0;
               margin-right: 15px;

               @media only screen and (max-width: 460px) {
                    top: 0.62cm;
               }

               i {
                    z-index: 6;
                    float: right;
                    cursor: pointer;
                    font-size: 1.4em;
                    color: white;
                    width: glob-stuff.$global-cringe-solver; height: glob-stuff.$global-cringe-solver;
                    transition: transform 0.1s cubic-bezier(0.5, 1, 0.89, 1);
                    padding: 1px 3px;

                    &:nth-child(1) {
                         margin-right: 5px;
                    }

                    &:hover {
                         border-radius: glob-stuff.$global-border-radius;
                         color: glob-stuff.$global-color-lightBlue;
                         background-color: hsla(0deg, 0%, 50%, 0.3);
                    }
                    &:active {
                         color: glob-stuff.$global-color-gold;
                    }
               }
          }
     }
}