@use "../modules/global_stuff" as gs;
@use "../modules/element_stuff" as es;

/* Goofy aaaahhhhh code */

#global-sidebar {
     z-index: 1;
     display: block;
     outline: 1px solid hsl(216, 8%, 52%);
     background-color: hsl(0deg, 0%, 5%);
     width: 8.465cm; height: 100%;
     position: fixed; top: 1.5cm; // 2.25cm

     :is(h3, input, i, select) {
          color: white !important;
     }

     &[data-sidebar-hidden=true] {
          display: none !important;
     }

     @media only screen and (max-width: 1100px) {
          display: none;

          &[data-sidebar-media=false] {
               display: none;
          }
          &[data-sidebar-media=true] {
               display: block;
          }
     }
     @media only screen and (max-width: 450px) {
          width: 100%;
     }

     #sidebar-title {
          display: flex;
          margin-top: 0.5cm; margin-left: 0.5cm;

          button {
               @include es.square_button(black, (3px 5px), (0 0.3cm 0 0), false);
               @include gs.button_hover;
          }

          h3 {
               display: block;
               font-weight: 500;
               position: relative; bottom: 0.35cm;
          }

          i.uil-cube {
               font-size: 1.6em;
               margin-left: 0.2cm;
               position: relative; top: 1px;
          }
     }

     @mixin buttonBG($color, $width, $pad, $mar) {
          cursor: pointer;
          display: flex;
          justify-content: center;
          border: 1.5px solid gs.$global-color-grey;
          border-radius: gs.$global-border-radius;
          background-color: $color;
          width: $width;
          padding: $pad; margin: $mar;
     }

     @mixin buttonMain($width, $widthMinus: 1cm, $fontAttr: (1em 500)) {
          cursor: pointer;
          text-align: left;
          font-size: nth($fontAttr, 1); font-weight: nth($fontAttr, 2);
          outline:    none !important;
          border:     none !important;
          background: none !important;
          width: calc($width - $widthMinus); height: fit-content;
     }

     i {
          font-size: 1.1em;
          padding: 0;
     }

     #sidebar-search {
          @include gs.center-element;
          box-sizing: border-box;

          @media only screen and (max-width: 450px) {
               width: 100%;
          }

          #search-main {
               @include buttonBG(black, 7cm, (5px 8px), (0.1cm 0 0 0));
               margin-bottom: 0.2cm;

               @media only screen and (max-width: 450px) {
                    width: 10cm;
               }
               @media only screen and (max-width: 430px) {
                    width: 8cm;
               }
               @media only screen and (max-width: 350px) {
                    width: 6cm;
               }

               input[type=text] {
                    @include buttonMain(7cm);
                    margin: 0cm 5px;

                    @media only screen and (max-width: 450px) {
                         width: calc(10cm - 1cm);
                    }
                    @media only screen and (max-width: 430px) {
                         width: calc(8cm - 1cm);
                    }
                    @media only screen and (max-width: 350px) {
                         width: calc(6cm - 1cm);
                    }
               }

               i {
                    transition: transform 0.1s cubic-bezier(0.5, 1, 0.89, 1);

                    &.uil-search {
                         position: relative; bottom: 1px;
                    }
                    &.uil-times-circle {
                         &:hover {
                              color: gs.$global-color-lightblue;
                         }
                         &:active {               
                              color: gs.$global-color-gold;
                              transition: transform 0.1s cubic-bezier(0.5, 1, 0.89, 1);
                              transform: scaleX(0.9) scaleY(0.9) ;
                         }
                    }
               }

               @include gs.button_hover('focus-within');
          }

          #search-type {
               display: flex;

               #type-layers {
                    @include buttonBG(rgb(39, 43, 51), 5.7cm, (5px 8px), (0.1cm 0.3cm 0 0));
                    @include gs.button_hover('focus-within');

                    @media only screen and (max-width: 450px) {
                         width: 8.7cm;
                    }
                    @media only screen and (max-width: 430px) {
                         width: 6.7cm;
                    }
                    @media only screen and (max-width: 350px) {
                         width: 4.7cm;
                    }
          
                    select {
                         @include buttonMain(5.7cm);

                         @media only screen and (max-width: 450px) {
                              width: 8.7cm;
                         }
                         @media only screen and (max-width: 430px) {
                              width: 6.7cm;
                         }
                         @media only screen and (max-width: 350px) {
                              width: 4.7cm;
                         }
                              
                         font-weight: 500;
                         appearance: none;
                         position: relative;
                         top: 2px; left: 5px;
                    }
               }
               

               #type-sort {
                    @include buttonBG(rgb(39, 43, 51), 1cm, (5px 8px), (0.1cm 0 0 0));
                    @include gs.button_hover;
                    font-size: 1.3em;
     
                    i {
                         line-height: 0;
                         position: relative; top: 1px;
                         padding: 0; margin: 0;
                    }                    
               }
          }
     }
     
     #sidebar-lists {
          overflow-x: hidden; overflow-y: auto;
          height: 13.5cm;
          position: relative; right: 0.5cm;

          a {
               text-decoration: none;
               color: white;

               li {
                    cursor: pointer;
                    list-style-type: none;
                    box-sizing: border-box;
                    border-radius: gs.$global-border-radius;
                    width: 7cm; height: fit-content;
                    padding: 8px;

                    @media only screen and (max-width: 450px) {
                         width: clamp(5cm, 90%, 10.4cm);
                         margin-right: 1cm;
                    }

                    span {
                         &.list-h1 { 
                              font-weight: 600;
                         }
                         &.list-h6 {
                              font-size: 0.95em;
                         }
     
                         @for $i from 2 to 7 {
                              &.list-h#{$i} { margin-left: calc((10px * $i) - 10px); }
                         }
                    }
                    
                    &:hover {
                         background-color: hsl(0deg, 0%, gs.median(12%, 18%));
                    }
                    &:active {
                         outline: 1px solid gs.$global-color-gold;
                         background-color: black;
                    }
               }

               @include gs.button_hover;
          }

          &::-webkit-scrollbar {
               width: 9px; height: 10px;
          }
          &::-webkit-scrollbar-thumb {
               margin-left: 50px;
               border-radius: gs.$global-border-radius;
               background: #6b6b6b;
          }
          &::-webkit-scrollbar-track {
               background: hsla(0deg, 0%, 0%, 0);
          }
     }

     hr {
          border: none;
          background-color: hsl(210, 5%, 30%);
          width: 7.8cm; height: 1.5px;
          padding: 0; margin: 0.35cm 0;

          @media only screen and (max-width: 450px) {
               width: 10.8cm;
          }
          @media only screen and (max-width: 430px) {
               width: 8.8cm;
          }
          @media only screen and (max-width: 350px) {
               width: 6.8cm;
          }
     }
}